agate==1.9.1
annotated-types==0.7.0
asttokens==2.4.1
attrs==24.2.0
babel==2.16.0
blinker==1.9.0
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
clr-loader==0.2.6
colorama==0.4.6
comm==0.2.2
cryptography==43.0.3
daff==1.3.46
db-dtypes==1.3.1
dbharbor==0.1.7
dbt-adapters==1.10.4
dbt-bigquery==1.8.3
dbt-common==1.14.0
dbt-core==1.8.9
dbt-extractor==0.5.1
dbt-semantic-interfaces==0.5.1
debugpy==1.8.9
decorator==5.1.1
deepdiff==7.0.1
dgsheet @ git+https://github.com/edire/dgsheet.git@9a6a6762571335688f867a59dce1b9730d21170f
dlogging @ git+https://github.com/edire/dlogging.git@12c73a61a71ebde99c8e078df3a663ca78fb116a
et_xmlfile==2.0.0
executing==2.1.0
Flask==3.1.0
google-api-core==2.23.0
google-api-python-client==2.159.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-bigquery==3.27.0
google-cloud-bigquery-storage==2.27.0
google-cloud-core==2.4.1
google-cloud-dataproc==5.15.1
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
greenlet==3.1.1
grpc-google-iam-v1==0.13.1
grpcio==1.68.0
grpcio-status==1.68.0
gspread==6.1.4
gspread-dataframe==4.0.0
gunicorn==23.0.0
httplib2==0.22.0
idna==3.10
importlib-metadata==6.11.0
ipykernel==6.29.5
ipython==8.29.0
isodate==0.6.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
leather==0.4.0
Logbook==1.5.3
MarkupSafe==3.0.2
mashumaro==3.14
matplotlib-inline==0.1.7
minimal-snowplow-tracker==0.0.2
more-itertools==10.5.0
msgpack==1.1.0
nest-asyncio==1.6.0
networkx==3.4.2
numpy==2.1.3
oauth2client==4.1.3
oauthlib==3.2.2
openpyxl==3.1.5
ordered-set==4.1.0
packaging==24.2
pandas==2.2.3
pandasql==0.7.3
parsedatetime==2.6
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
platformdirs==4.3.6
prompt_toolkit==3.0.48
proto-plus==1.25.0
protobuf==5.28.3
psutil==6.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.10.3
pydantic_core==2.27.1
PyDrive2==1.21.3
Pygments==2.18.0
PyMySQL==1.1.1
pyodbc==5.2.0
pyOpenSSL==24.2.1
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pythonnet==3.0.4
pytimeparse==1.1.8
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
referencing==0.35.1
requests==2.32.3
requests-oauthlib==2.0.0
rpds-py==0.22.3
rsa==4.9
six==1.16.0
SQLAlchemy==2.0.36
sqlparse==0.5.2
stack-data==0.6.3
text-unidecode==1.3
tornado==6.4.2
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.2
uritemplate==4.1.1
urllib3==2.2.3
wcwidth==0.2.13
Werkzeug==3.1.3
zipp==3.21.0
